.wrapper {
    background-color: transparent;
    display: flex;
    justify-content: center;
    width: 100%;
}

.input {
    width: 100%;
    background-color: transparent;
    color: white;
    font-size: 0.8rem
}

.input div button {
    display: flex;
    align-items: center;
}
