.paper {
    padding: 2rem;
    color: white;
    background-color: transparent;
}
.total-text {
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
}
.amountEachPersonOwesText {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}
